<mat-card class="main">
    <mat-card-title style="margin-left: 220px;">Add user </mat-card-title>

    <mat-card-content>
        <form [formGroup]="updateform" (ngSubmit)="SaveUser()">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Role</mat-label>
                <input matInput formControlName="role">
              </mat-form-field>
          <div style="margin-left:93px;">
            <button mat-raised-button color="primary" type="submit">Register</button>  

                </div>
                </form>
          
    </mat-card-content>


   