
.main{
    background-color: skyblue;
    width: 70%;
}
.ng-star-inserted{
    width: 70%;
}
.mat-mdc-card-title{
   margin:10px 0px 0px 180px;
}

.mat-mdc-card-content{
    margin:5px 0px 0px 100px; 
}
.mat-mdc-raised-button.mat-mdc-button-base{
  

}