.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  

.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

span.add-user {
    color: white;
    text-align: center;
    margin-left: 30%;

}
span.add-user a {
    color: white;
 
}

span.add-user a:link {
    text-decoration: none;
  }
  
  span.add-user a:visited {
    text-decoration: none;
  }
  
  span.add-user a:hover {
    text-decoration: underline;
  }
  
  span.add-user a:active {
    text-decoration: underline;
  }