table {
    width: 100%;
  }
  .user{
    text-align: center;
  }
  .mat-column-select {
    overflow: initial;
  }
  .row{
    margin-left: 67%;
  }


  .container.is-phone-portrait {
    margin: 0;
    padding:0;
 }